* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

input {
  border: 2px solid #60CAA4;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

ul li {
  padding: 0px 16px;
}

ul li a {
  font-weight: bolder;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  background-color: #60CAA4;
  box-shadow: 0px 5px 9px 4px rgba(41, 40, 40, 0.555);
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #227569;
  background: linear-gradient(0deg, #22ac97 0%, #3db09b 31%, #14d1b8 100%);
  animation: myAnim 1s ease 0s 1 normal forwards;
}

.navbar__logo {
  text-decoration: none;
  font-weight: 900;
  padding: 0px 16px;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

#zaphfoot {
  display: flex;
  justify-content: space-evenly;
  background-color: #60CAA4;
  padding: 20px;
  background: #227569;
  background: linear-gradient(0deg, #22ac97 0%, #3db09b 31%, #14d1b8 100%);
}

.hero {
  display: block;
  text-align: center;
  padding: 250px 0px;
  background-image: url(../Imgs/Coommscrop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
}

.hero__title {
  color: white;
  position: relative;
}

.hero__title a {
  text-decoration: none;
  color: white;
}

.hero__title h1 {
  font-size: 50px;
}

.about__me {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
}

.about__me h3 {
  font-weight: bolder;
  margin: auto;
}

.about__me__info {
  width: 40%;
  padding: 30px 0px;
  margin: 0;
}

.about__me__info p {
  margin: 0;
}

.about__me img {
  width: 30%;
  padding: 20px;
  transition: transform 1s ease;
  transform: scale(1);
}

.about__me img:hover {
  transform: scale(1.1);
}

.character__design {
  padding: 70px 0px 0px 25px;
}

.cd__title {
  grid-area: title;
}

.img__container {
  display: grid;
  grid-template-areas: 'example1 example2 example3' 'example4 example5 example6';
  gap: 10px;
  width: 100%;
}

.img__container img {
  width: 100%;
}

.example__1 {
  grid-area: example1;
}

.example__2 {
  grid-area: example2;
}

.example__3 {
  grid-area: example3;
}

.example__4 {
  grid-area: example4;
}

.example__5 {
  grid-area: example5;
}

.example__6 {
  grid-area: example6;
}

.card1 {
  background-color: MediumAquaMarine;
}

.card2 {
  background-color: PaleTurquoise;
}

.card3 {
  background-color: MediumTurquoise;
}

.comm__order {
  display: flex;
  flex-direction: column;
  padding: 80px 0px 20px 0px;
  align-items: center;
}

.comm__order h1 {
  font-weight: bolder;
}

.comm__order iframe {
  width: 80%;
  height: 500px;
}

.comm__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0px;
}

.comm__card {
  display: flex;
  flex-direction: column;
  width: 32%;
  text-align: center;
  color: black;
  border-radius: 10px;
}

.comm__card h3 {
  font-weight: bold;
  font-size: larger;
  padding: 5px;
}

.comm__card p {
  font-weight: bold;
  margin: 2px;
}

.comm__card img {
  width: 100%;
}

.comm__style {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1280px) {
  .img__container {
    grid-template-areas: 'example1 example2' 'example3 example4' 'example5 example6';
  }
}

@media only screen and (max-width: 768px) {
  .about__me {
    flex-wrap: wrap;
    padding: 50px 0px;
  }
  .about__me__info {
    width: 90%;
    text-align: center;
  }
  .about__me img {
    width: 60%;
    padding: 0px;
    margin-bottom: 30px;
  }
  .comm__container {
    display: block;
  }
  .comm__card {
    width: 100%;
  }
  .img__container {
    grid-template-areas: 'example1' 'example2' 'example3' 'example4' 'example5' 'example6';
  }
  #zaphfoot {
    flex-direction: column;
    align-items: center;
  }
}
