#zaphfoot{
    display: flex;    
    justify-content: space-evenly;
    background-color: #60CAA4;
    padding: 20px;
    background: rgb(34,117,105);
    background: linear-gradient(0deg, rgb(34, 172, 151) 0%, rgba(61,176,155,1) 31%, rgb(20, 209, 184) 100%);  
  }