.character__design{
    padding: 70px 0px 0px 25px;
  }
  .cd__title {
    grid-area: title;
  }
  .img__container{
    display: grid;
    grid-template-areas: 
    'example1 example2 example3'
    'example4 example5 example6';
    gap: 10px;
    width: 100%;  
  }
  .img__container img{
    width: 100%;
  }
  .example__1{ 
    grid-area: example1; }
  .example__2{ 
    grid-area: example2;}
  .example__3{ 
    grid-area: example3;}
  .example__4{ 
    grid-area: example4;}
  .example__5{ 
    grid-area: example5;}
  .example__6{ 
    grid-area: example6;}